/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
.container {
    /* grid-system 12 columns */
    --column-size: 12;

    width: 100%;
    /* căn giữa content */
    margin-left: auto;
    margin-right: auto;
    /* padding = 1/2 gutters (khoảng cách giữa các cột) */
    /* Ở phiên bản 5, gutters là 1.5rem (24px) */
    /* Tuy nhiên, dựa theo dự án xem Gutters bằng bao nhiêu để sử dụng đúng kích thước */
    padding-right: 12px;
    padding-left: 12px;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
}

.row-cols-1 > * {
    --row-cols-number: 1;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-2 > * {
    --row-cols-number: 2;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-3 > * {
    --row-cols-number: 3;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-4 > * {
    --row-cols-number: 4;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-5 > * {
    --row-cols-number: 5;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-6 > * {
    --row-cols-number: 6;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-7 > * {
    --row-cols-number: 7;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-8 > * {
    --row-cols-number: 8;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-9 > * {
    --row-cols-number: 9;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-10 > * {
    --row-cols-number: 10;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-11 > * {
    --row-cols-number: 11;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}
.row-cols-12 > * {
    --row-cols-number: 12;

    flex: 0 0 auto;
    width: calc(100% / var(--row-cols-number));
}

.col-1 {
    --column-number: 1;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-2 {
    --column-number: 2;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-3 {
    --column-number: 3;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-4 {
    --column-number: 4;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-5 {
    --column-number: 5;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-6 {
    --column-number: 6;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-7 {
    --column-number: 7;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-8 {
    --column-number: 8;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-9 {
    --column-number: 9;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-10 {
    --column-number: 10;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-11 {
    --column-number: 11;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}
.col-12 {
    --column-number: 12;

    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--column-number));
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .container-fluid {
        width: 100%;
    }

    .row-cols-sm-1 > * {
        --row-cols-number: 1;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-2 > * {
        --row-cols-number: 2;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-3 > * {
        --row-cols-number: 3;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-4 > * {
        --row-cols-number: 4;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-5 > * {
        --row-cols-number: 5;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-6 > * {
        --row-cols-number: 6;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-7 > * {
        --row-cols-number: 7;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-8 > * {
        --row-cols-number: 8;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-9 > * {
        --row-cols-number: 9;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-10 > * {
        --row-cols-number: 10;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-11 > * {
        --row-cols-number: 11;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-sm-12 > * {
        --row-cols-number: 12;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }

    .col-sm-1 {
        --column-number: 1;
    }
    .col-sm-2 {
        --column-number: 2;
    }
    .col-sm-3 {
        --column-number: 3;
    }
    .col-sm-4 {
        --column-number: 4;
    }
    .col-sm-5 {
        --column-number: 5;
    }
    .col-sm-6 {
        --column-number: 6;
    }
    .col-sm-7 {
        --column-number: 7;
    }
    .col-sm-8 {
        --column-number: 8;
    }
    .col-sm-9 {
        --column-number: 9;
    }
    .col-sm-10 {
        --column-number: 10;
    }
    .col-sm-11 {
        --column-number: 11;
    }
    .col-sm-12 {
        --column-number: 12;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .container-fluid {
        width: 100%;
    }

    .row-cols-md1 > * {
        --row-cols-number: 1;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md2 > * {
        --row-cols-number: 2;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md3 > * {
        --row-cols-number: 3;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md4 > * {
        --row-cols-number: 4;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md5 > * {
        --row-cols-number: 5;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md6 > * {
        --row-cols-number: 6;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md7 > * {
        --row-cols-number: 7;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md8 > * {
        --row-cols-number: 8;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md9 > * {
        --row-cols-number: 9;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md10 > * {
        --row-cols-number: 10;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md11 > * {
        --row-cols-number: 11;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-md12 > * {
        --row-cols-number: 12;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }

    .col-md-1 {
        --column-number: 1;
    }
    .col-md-2 {
        --column-number: 2;
    }
    .col-md-3 {
        --column-number: 3;
    }
    .col-md-4 {
        --column-number: 4;
    }
    .col-md-5 {
        --column-number: 5;
    }
    .col-md-6 {
        --column-number: 6;
    }
    .col-md-7 {
        --column-number: 7;
    }
    .col-md-8 {
        --column-number: 8;
    }
    .col-md-9 {
        --column-number: 9;
    }
    .col-md-10 {
        --column-number: 10;
    }
    .col-md-11 {
        --column-number: 11;
    }
    .col-md-12 {
        --column-number: 12;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .container-fluid {
        width: 100%;
    }

    .row-cols-lg-1 > * {
        --row-cols-number: 1;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-2 > * {
        --row-cols-number: 2;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-3 > * {
        --row-cols-number: 3;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-4 > * {
        --row-cols-number: 4;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-5 > * {
        --row-cols-number: 5;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-6 > * {
        --row-cols-number: 6;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-7 > * {
        --row-cols-number: 7;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-8 > * {
        --row-cols-number: 8;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-9 > * {
        --row-cols-number: 9;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-10 > * {
        --row-cols-number: 10;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-11 > * {
        --row-cols-number: 11;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-lg-12 > * {
        --row-cols-number: 12;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }

    .col-lg-1 {
        --column-number: 1;
    }
    .col-lg-2 {
        --column-number: 2;
    }
    .col-lg-3 {
        --column-number: 3;
    }
    .col-lg-4 {
        --column-number: 4;
    }
    .col-lg-5 {
        --column-number: 5;
    }
    .col-lg-6 {
        --column-number: 6;
    }
    .col-lg-7 {
        --column-number: 7;
    }
    .col-lg-8 {
        --column-number: 8;
    }
    .col-lg-9 {
        --column-number: 9;
    }
    .col-lg-10 {
        --column-number: 10;
    }
    .col-lg-11 {
        --column-number: 11;
    }
    .col-lg-12 {
        --column-number: 12;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        /* các phiên bản trước 5, Bootstrap sử dụng width là 1170px */
        /* max-width: 1170px; */
        max-width: 1140px;
    }

    .container-fluid {
        width: 100%;
    }

    .row-cols-xl-1 > * {
        --row-cols-number: 1;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-2 > * {
        --row-cols-number: 2;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-3 > * {
        --row-cols-number: 3;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-4 > * {
        --row-cols-number: 4;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-5 > * {
        --row-cols-number: 5;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-6 > * {
        --row-cols-number: 6;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-7 > * {
        --row-cols-number: 7;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-8 > * {
        --row-cols-number: 8;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-9 > * {
        --row-cols-number: 9;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-10 > * {
        --row-cols-number: 10;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-11 > * {
        --row-cols-number: 11;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xl-12 > * {
        --row-cols-number: 12;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }

    .col-xl-1 {
        --column-number: 1;
    }
    .col-xl-2 {
        --column-number: 2;
    }
    .col-xl-3 {
        --column-number: 3;
    }
    .col-xl-4 {
        --column-number: 4;
    }
    .col-xl-5 {
        --column-number: 5;
    }
    .col-xl-6 {
        --column-number: 6;
    }
    .col-xl-7 {
        --column-number: 7;
    }
    .col-xl-8 {
        --column-number: 8;
    }
    .col-xl-9 {
        --column-number: 9;
    }
    .col-xl-10 {
        --column-number: 10;
    }
    .col-xl-11 {
        --column-number: 11;
    }
    .col-xl-12 {
        --column-number: 12;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .container-fluid {
        width: 100%;
    }

    .row-cols-xxl-1 > * {
        --row-cols-number: 1;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-2 > * {
        --row-cols-number: 2;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-3 > * {
        --row-cols-number: 3;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-4 > * {
        --row-cols-number: 4;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-5 > * {
        --row-cols-number: 5;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-6 > * {
        --row-cols-number: 6;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-7 > * {
        --row-cols-number: 7;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-8 > * {
        --row-cols-number: 8;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-9 > * {
        --row-cols-number: 9;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-10 > * {
        --row-cols-number: 10;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-11 > * {
        --row-cols-number: 11;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }
    .row-cols-xxl-12 > * {
        --row-cols-number: 12;

        flex: 0 0 auto;
        width: calc(100% / var(--row-cols-number));
    }

    .col-xxl-1 {
        --column-number: 1;
    }
    .col-xxl-2 {
        --column-number: 2;
    }
    .col-xxl-3 {
        --column-number: 3;
    }
    .col-xxl-4 {
        --column-number: 4;
    }
    .col-xxl-5 {
        --column-number: 5;
    }
    .col-xxl-6 {
        --column-number: 6;
    }
    .col-xxl-7 {
        --column-number: 7;
    }
    .col-xxl-8 {
        --column-number: 8;
    }
    .col-xxl-9 {
        --column-number: 9;
    }
    .col-xxl-10 {
        --column-number: 10;
    }
    .col-xxl-11 {
        --column-number: 11;
    }
    .col-xxl-12 {
        --column-number: 12;
    }
}
