/* File chứa các variable trong CSS */

/* Grid-system */
:root {
    --container-max-width-sm: 540px;
    --container-max-width-md: 720px;
    --container-max-width-lg: 960px;
    --container-max-width-xl: 1140px;
    --container-max-width-xxl: 1320;
    --gutters: 30px;
}

/* Color */
/* :root {
} */

/* Fonts */
/* :root {
} */
